<section>
  <div class="catalog-container container">
    <p class="catalog-title">Вам може сподобатись</p>
    <div class="swiper-catalog">
      <ul class="catalog-list swiper-wrapper">
        <li class="catalog-item swiper-slide">
          <div class="card">
            <img src="./images/prodact-one.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
          <div class="card catalog-card">
            <img src="./images/prodact-two.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
          <div class="card catalog-card">
            <img src="./images/prodact-three.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
        </li>
        <li class="catalog-item swiper-slide">
          <div class="card catalog-card">
            <img src="./images/prodact-four.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
          <div class="card catalog-card">
            <img src="./images/prodact-five.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
          <div class="card catalog-card">
            <img src="./images/prodact-six.jpg" alt="" class="card-img" />
            <a href="../src/stor.html" class="card-btn">Замовити</a>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination-catalog"></div>
    </div>
  </div>
</section>
