<section>
  <div class="catalog-container container">
    <p class="catalog-title">Вам може сподобатись</p>
    <div class="catalog-item">
      <div class="card">
        <img src="./images/prodact-one.jpg" alt="" class="card-img" />
        <a href="../src/stor.html" class="card-btn">Замовити</a>
      </div>
      <div class="card catalog-card">
        <img src="./images/prodact-two.jpg" alt="" class="card-img" />
        <a href="../src/stor.html" class="card-btn">Замовити</a>
      </div>
      <div class="card catalog-card">
        <img src="./images/prodact-three.jpg" alt="" class="card-img" />
        <a href="../src/stor.html" class="card-btn">Замовити</a>
      </div>
    </div>
  </div>
</section>
