<section class="contacts-section">
  <div class="container contacts-container" id="location">
    <div class="contacts-info">
      <h2 class="contacts-title">Як нас знайти</h2>
      <address>
        <a href="https://goo.gl/maps/WwRV8WySkhxXkABAA" class="contacts-address"
          >м.Тернопіль, вул Карпенка 12</a
        >
        <a href="tel:+380751689450" class="contacts-tell">+5975168945</a>
      </address>
    </div>
    <div class="location-bg">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d8477.426409053136!2d25.591446730520598!3d49.553475925510114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0KLQtdGA0L3QvtC_0ZbQu9GM!5e0!3m2!1suk!2sua!4v1664661408684!5m2!1suk!2sua"
        width="500"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="lacation-map"
      ></iframe>
    </div>
  </div>
</section>
