<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="index.html" class="logo">
        <img src="./images/logo.png" alt="Логотип" width="30" heigth="30" />
        CoffeeTime</a
      >
      <ul class="nav-list list">
        <li class="nav-item link">
          <a href="#" class="nav-link">Магазин</a>
        </li>
        <li class="nav-item link">
          <a href="#location" class="nav-link">Розташування</a>
        </li>
        <li class="nav-item link">
          <a href="#" class="nav-link">Про нас</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
