<section class="hero-section">
  <div class="container hero-container">
    <!-- <img src="./images/hero-grad-text.png" alt="Тінь" class="hero-grad-text" /> -->
    <img src="./images/coffee.png" alt="Кава" class="hero-coffee-img" />
    <img src="./images/hero-grad-cup.png" alt="Тінь" class="hero-grad-cup" />
    <img src="./images/cup.png" alt="Чашка з кавою" class="hero-cup-img" />
    <h1 class="hero-title">Відкрий новий смак своєї кави</h1>
    <p class="hero-text">
      Збалансований бленд темного обсмаження розкривається в кожній чашці
      насиченим смаком середньої міцності з вишуканим ароматом і оксамитовою
      кремовою пінкою. Жителі Центральної й Західної Європи обожнюють цю каву
      приготовлену як коротке ристрето, так і капучино або лате.
    </p>
    <button type="button" class="hero-btn">Замовити</button>
  </div>
</section>
