<section class="offered-product-section">
  <div class="container offered-product-container">
    <div class="offered-product-appearance">
      <img
        src="./images/offered-product.jpg"
        alt="Кава"
        class="offered-product-img"
      />
      <p class="offered-product-text">
        Дріп Кава (Drip Coffee) - це натуральна мелена кава, фасована в
        індивідуальні фільтр-пакети.
      </p>
    </div>
    <div class="offered-product-order">
      <p class="offered-product-description">
        В наявності Дріп Кава (Drip Coffee) - це натуральна мелена кава,
        фасована в індивідуальні фільтр-пакети. Їх заварюють прямо в чашці -
        проливаючи пакетик окропом. Дріп-пакети - це спосіб приготувати мелену
        каву без спеціальних навичок і аксесуарів. У них можна заварювати
        рідкісний або унікальний сорт кави без втрати якості.
      </p>
      <span class="offered-product-price">430 грн</span>
      <button type="button" class="offered-product-btn">Замовити</button>
    </div>
  </div>
</section>
