<section class="products-section">
  <div class="container products-container">
    <h2 class="visually-hidden">Сет продукції</h2>
    <div class="products-swiper swiper">
      <ul class="swiper-wrapper">
        <li class="card-set swiper-slide">
          <div class="card">
            <img src="./images/prodact-one.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-two.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-three.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-four.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-five.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-six.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
        </li>
        <li class="card-set swiper-slide">
          <div class="card">
            <img src="./images/prodact-one.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-two.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-three.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-four.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-five.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-six.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
        </li>
        <li class="card-set swiper-slide">
          <div class="card">
            <img src="./images/prodact-one.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-two.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-three.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-four.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-five.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
          <div class="card">
            <img src="./images/prodact-six.jpg" alt="" class="card-img" />
            <a href="#" class="card-btn">Замовити</a>
          </div>
        </li>
      </ul>
      <!-- <div class="swiper-scrollbar"></div> -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
