<section class="products-section">
  <div class="container products-container">
    <h2 class="visually-hidden">Сет продукції</h2>
    <div class="products-swiper" swiper-wrapper>
      <div class="card-set" swiper-slide>
        <div class="card">
          <img src="./images/prodact-one.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-two.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-three.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-four.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-five.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-six.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
      </div>
      <div class="card-set" swiper-slide>
        <div class="card">
          <img src="./images/prodact-one.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-two.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-three.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-four.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-five.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-six.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
      </div>
      <div class="card-set" swiper-slide>
        <div class="card">
          <img src="./images/prodact-one.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-two.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-three.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-four.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-five.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
        <div class="card">
          <img src="./images/prodact-six.jpg" alt="" class="card-img" />
          <a href="#" class="card-btn">Замовити</a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
