.products-section {
    background-image: url(/src/images/product-sect@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1335px;
    margin-left: auto;
    margin-right: auto;
}

.products-container{
    padding-top: 63px;
    padding-bottom: 10px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 117px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding:21px 52px;

    background: rgba(111, 66, 26, 0.63);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    scale: 0.9;
    transition: scale $animation-cubic $animation-time;

    &:hover{
        scale: 1;
        background: rgba(111, 66, 26, 0.4);
    }
}

.card-img {
    width: 168px;
}

.card-btn {
    padding: 8px 34px;
    background-color: var(--primary-color-btn);
    border-radius: 16px;
    font-size: 12px;
    line-height: 1.25;
    color: var(--primary-text-color);
}

.swiper-pagination,
.swiper-pagination-catalog {
    position: static;
    margin-top: 24px;
}

.swiper-pagination-bullet {
    width: 28px;
    height: 28px;
    background: rgba(217, 217, 217, 1);
    border: 2px solid rgba(217, 217, 217, 1);
}

.swiper-pagination-bullet-active {
    background-color: rgba(121, 77, 41, 1);
}
